<%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
<% if @post.errors.any? %>
<div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります。</h2>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="container">
<div class="post_content">
<div class="form-inline">
    <%= form.text_area :content, class: "form-control", placeholder: "いまなにしてる？", size: "60" %><br>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.file_field :image, class: "form-control" %><br>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "投稿する", class: 'btn btn-success' %>
<% end %>
 </div>
</div>
</div>
