<br>
<%= notice %>

<div class="linkpage">
    <ul>
        <li>ニュースフィード</li>
        <li>Messenger</li>
        <li>Watch</li>
        <li>ショートカット</li>
        <li>発見</li>
        <li>Facebookページ</li>
        <li>グループ</li>
        <li>イベント</li>
        <li>ゲーム</li>
        <li>募金キャンペーン</li>
    </ul>
</div>

<div class="postlist">
<br>
<table>
    <tr>
        <td colspan="3"><%= link_to '投稿を作成', new_post_path, class: "btn btn-info" %></td>
    </tr>
    <% @posts.each do |post| %>
    <tr>
        <td colspan="3" width="400" height=auto align="left"><font size="16">
            <%= link_to post.user.name, user_path(post.user.id) %></font></td>
    </tr>
    <tr>
        <td colspan="3" width="400" height=auto><%= simple_format(post.content) %></td>
        <% if post.image.present? %>
    </tr>
    <tr>
        <td colspan="3" width="400" height=auto><%= image_tag post.image.url %></td>
        <% end %>
    </tr>
    <tr>
        <td><%= link_to '詳細', post_path(post.id), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to "編集", edit_post_path(post.id), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除していいですか？"}, class: "btn btn-default btn-xs" %></td>
    </tr>
    <% end %>
</table>

</div>

<div class="friends">
    <ul>
        <li>知り合いかも</li>
        <li>Aさん</li>
        <li>Bさん</li>
        <li>Cさん</li>
        <li>Dさん</li>
        <li>Eさん</li>
        <li>Fさん</li>
    </ul>
</div>


<div class="push"></div>
