<h1>ブログ一覧</h1>

<%= notice %>

<div class="linkpage">
    <ul>
        <li>ニュースフィード</li>
        <li>Messenger</li>
        <li>Watch</li>
        <li>ショートカット</li>
        <li>発見</li>
        <li>Facebookページ</li>
        <li>グループ</li>
        <li>イベント</li>
        <li>ゲーム</li>
        <li>募金キャンペーン</li>
    </ul>
</div>

<div class="postlist">    
<table>
    <tr>
        <th>内容</th>
    </tr>
    
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.content %></td>
        <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
        <td><%= link_to "投稿を編集する", edit_post_path(post.id) %></td>
        <td><%= link_to "投稿を削除する", post_path(post.id), method: :delete, data: { confirm: "本当に削除していいですか？"} %></td>
    </tr>
    <% end %>
</table>

</div>


<div class="friends">
    <ul>
        <li>知り合いかも</li>
        <li>Aさん</li>
        <li>Bさん</li>
        <li>Cさん</li>
        <li>Dさん</li>
        <li>Eさん</li>
        <li>Fさん</li>
    </ul>
</div>

