<!DOCTYPE html>
<html>
  <head>
    <title>Snsbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
    
    <% if logged_in? %>
      <li><%= image_tag 'f.png' %></li>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
      <li><%= link_to "ホーム", posts_path %></li>
      <li><a href="#">友達を検索</a></li>
      <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>

    <% else %>
      <li>Facebook</li>
      <li><%= link_to "新規アカウント作成", new_user_path %></li>
      <li><%= link_to "ホーム", posts_path %></li>
      <li><%= link_to "ログイン", new_session_path %></li>
    <% end %>
    
    </ul>
    
    </div>
  </header>


    <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    

    
    
    <%= yield %>
    </div>
  </body>
</html>
